@import '../Shared/Styles/colors.scss';
@import '../Shared/Styles/typography.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';

.how-it-works {
  margin-top: 100px;
  margin-bottom: 80px;

  &__title {
      @include kunai-h2($kunaiBlueColor, $whiteColor);
      margin-bottom: 80px;
  }
}

.slide__content {
  &__left {
    display: flex;
    p {
      @include kunai-regular-text($kunaiBlueColor)
      text-align: left;
      font-size: 19.2px;
      line-height: 1.75;
      margin-right: 20px;
    }
  }
  
  &__img {
    width: 150px;
    margin-top: 0px;
    @include media-breakpoint-down(lg) {
      margin-top: 30px;
    }
  }
}

.carousel .slide  {
  background: $whiteColor;
}

.carousel .control-dots .dot.selected {
  background: $kunaiRedColor;
  box-shadow: none;
  height: 13px;
  width: 13px;
}

.carousel .control-dots .dot {
  box-shadow: none;
  background: $grayBulletColor;
  height: 13px;
  width: 13px;
}

.slider-wrapper {
  height: 520px;

  @include media-breakpoint-down(lg) {
    height: auto;
  }
}